* {
  box-sizing: border-box;
}

.header-img {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100px;
  height: 100px;
}

.header {
  background-color: #f1f1f1;
  padding: 10px;
  text-align: center;
  width: 100%;
}

/* Navigation Bar */
ul {
  list-style-type: none;
  padding: 5px;
  background-color: #07117a;
  overflow: hidden;
  width: 100%;
}

li {
  float:left;
}

li:last-child {
  border-right: none;
  border-bottom: none;
}

li a {
  display: block;
  text-align: center;
  font-family: 'Inter', sans-serif;
  color: #f5ec78;
  padding: 10px 16px;
  text-decoration: none;
}

/* Change the link color on hover */
li a:hover:not(.active) {
  background-color: #edc40c;
  color: #040833;
}

/* Displays color on the active or current page the user is in*/
li a.active {
  background-color: #f5d98e;
  color: 040833;
}

.icons-container {
  float: left;
  width: 25%;
  padding: 5px;
}

.icons-container img:hover {
  opacity: 0.9;
}

.icons::after {
  content: "";
  clear: both;
  display: table;
}

.iconbar {
  margin-top: 20px;
  float: left;
  width: 100%;
  padding: 15px;
  background-color: #f1f1f1;
  border-radius: 20px
}

.announcements {
  margin-top: 20px;
  float: left;
  width: 100%;
  padding: 15px;
  background-color: #f1f1f1;
}

table, th, td {
  border: 1px solid black;
  text-align: center;

}

table {
  width: 100%;
  border-collapse: collapse;
  background-color: #07117a;
  font-family: 'Inter', sans-serif;
  color: #edc40c;
}

th, td {
  padding: 10px

}

td {
  background-color: white;
  color: #07117a;
}

td:hover {
  background-color: #edc40c;
  color: #040833;
}
