<html> 
    <!DOCTYPE html>
    <html lang="en" dir="ltr">
    <link rel="stylesheet" href="{{ url_for('static', filename='forum/forum.css') }}">
    <head></head>
    <body>
        <div>
            <img src="{{ url_for('static', filename='login_page/FLIPP_LOGO.png') }}" alt="UP FLIPP LOGO" class="logo">
            <br><br>
            <h1>FORUM</h1>
            <br><br><br><br>
            <button type="button">Post New Discussion</button>
            <br><br>
            <hr class="solid">
            
        </div>
    

    </body>
</html>