<!DOCTYPE html>
<link rel="stylesheet" href="homepage.css">
<meta name="viewport" content="width=device-width, initial-scale=1.0">


<body>

<div class="header">
  <img class = "header-img" src = "FLIPP_LOGO.png" alt = "FLIPP Logo">
  <h1>Welcome User!</h1>
<div/>

<ul>
  <li><a href="#calendar">Calendar</a></li>
  <li><a href="#gallery">Gallery</a></li>
  <li><a href="#forum">Forum</a></li>
  <li><a href="#minutes">Minutes of the Meeting</a></li>
  <li style="float:right" class="dropdown">
    <a href="#options" class="dropbtn">Options</a>
    <div class="dropdown-content">
      <a href="#profile">Profile</a>
      <a href="#logout">Log Out</a>
    </div>
  </li>
</ul>


<div class="announcements">
  <table>
    <tr>
      <th>LATEST ANNOUNCEMENTS</th>
    </tr>
    <tr>
      <a href = "#"><td>InAf Advisory</td></a>
    </tr>
    <tr>
      <a href = "#"><td>ExAf Advisory</td></a>
    </tr>
    <tr>
      <a href = "#"><td>ReDoMa Advisory</td></a>
    </tr>
    <tr>
      <a href = "#"><td>TrePod Advisory</td></a>
    </tr>
    <tr>
      <a href = "#"><td>Older Topics/Others</td></a>
    </tr>
  </table>
</div>

</body>
</html>
