<!DOCTYPE html>
<link rel="stylesheet" href="{{ url_for('static', filename='home_page/homepage.css') }}">
<head>
  <title>Home</title>
</head>

<main>
  <body>
  <img class = "top-layer-img" src="{{ url_for('static', filename='login_page/FLIPP_LOGO.png') }}" alt = "FLIPP Logo">
  <h1 class = "top-layer-title-1">Welcome</h1>
  <h1 class = "top-layer-title-2">User</h1>
  <h1 class = "top-layer-title-3">!</h1>

  <button type = "button" class = "option-button">OPTIONS</button>

  <a href = "#"><h2 class = "mid-layer-partership-tracker"> PARTNERSHIP <br> TRACKER </h2></a>
  <a href = "#"><h2 class = "mid-layer-calendar-of-events"> CALENDAR <br> OF EVENTS </h2></a>
  <a href = "#"><h2 class = "mid-layer-gallery"> GALLERY </h2></a>
  <a href = "#"><h2 class = "mid-layer-forum"> FORUM </h2></a>
  <a href = "#"><h2 class = "mid-layer-minutes-of-the-meeting"> MINUTES <br> OF THE <br> MEETING </h2></a>


  <a href = "#"><img class = "mid-layer-forum-icon" src = "{{ url_for('static', filename='home_page/Forum.png') }}" alt = "Forum Icon"></a>
  <a href = "#"><img class = "mid-layer-gallery-icon" src = "{{ url_for('static', filename='home_page/Gallery.png') }}"  alt = "Gallery Icon"></a>
  <a href = "#"><img class = "mid-layer-calendar-icon" src = "{{ url_for('static', filename='home_page/Calendar.png') }}"  alt = "Calendar Icon"></a>
  <a href = "#"><img class = "mid-layer-minutes-of-the-meeting-icon" src ="{{ url_for('static', filename='home_page/Minutesofthemeeting.png') }}" alt = "Minutes of the meeting Icon"></a>
  <a href = "#"><img class = "mid-layer-partership-tracker-icon" src = "{{ url_for('static', filename='home_page/PartnershipTracker.png') }}"  alt = "Partnership Tracker Icon"></a>

  <h3> LATEST ANNOUNCEMENTS </h3>

  <div>
    <a href = "#"><h2 class = "table-inaf-advisory"> INAF ADVISORY </h2></a>
    <a href = "#"><h2 class = "table-exaf-advisory"> EXAF ADVISORY </h2></a>
    <a href = "#"><h2 class = "table-trepod-advisory"> TREPOD ADVISORY </h2></a>
    <a href = "#"><h2 class = "table-other-topics"> OLDER TOPICS... </h2></a>

    <p class = "date-inaf-advisory"> 19 March, 10:15 </p>
    <p class = "date-exaf-advisory"> 17 March, 10:15 </p>
    <p class = "date-trepod-advisory"> 18 March, 10:15 </p>
  </div>

  <h4 class = "hehe">surprise hehe</h4>
</body>
</main>
