input[type=text]{
    width: 60%;
    padding: 15px 15px;
    margin: 10px 10px;
    border-radius: 6px;
    box-sizing: border-box;
    right: auto;
    left:auto;
}

input[type=text]:focus{
    background-color:lightblue;
}

input[type=date]{
    width: 60%;
    padding: 15px 15px;
    margin: 10px 10px;
    border-radius: 6px;
    box-sizing: border-box;
    right: auto;
    left:auto;
}

.column{
    float:left;
    width:50%;
}

.row:after{
    content:"";
    display:table;
    clear:both;
}